body {
    background-color: #25093d;
    font-family: "Fira Code", monospace;
    color: #dadada;
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover .project-container{
    transform: scale(1.02);
    outline: 2px solid #aa11da;
    outline-offset: 2px;
}

.baseContainer {
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.25);
    width: 75%;
    margin: 35px auto 0;
    padding: 10px;
}

.sectionHeader{

}

.project-container {
    width: 95%;
    height: 95%;
    border-radius: 10px;
    transition-duration: 0.2s;
    transition-property: transform;
    margin: 15px;
}
.project-image {
    width: 90%;
    aspect-ratio: 16/9;
    box-shadow:0 0 5px 5px rgba(0,0,0,0.15);
    object-fit: contain;
    border-radius: 10px;
    margin: 20px
}

.project-description {
    width:90%;
    margin: 15px;
    text-justify: auto;
}

.carousel-control-next, .carousel-control-prev {
    align-items: end;
    top: 90%;
}

.carousel-indicators {
    margin-bottom: 0;
}

/*Color palette*/
.highlight {
    background-color: #520380
}

.midtone-high {
    background-color: #2f0149
}

.midtone-low {
    background-color: #220135
}

.lightText{
    color: #aa11da
}


