body {
    background-color: #25093d;
    font-family: "Fira Code", monospace;
    color: #c8c8c8;
    text-align: center;
    font-size: 14pt;
}

a {
    text-decoration: none;
    color: #c8c8c8;
}

.navbar > .container{
    display: flex;
    flex-wrap: inherit;
    align-items: stretch;
    justify-content: end;
}

.navbar-brand-name {
    font-weight: bolder;
    color: #ffcda9 !important;
}

.navbar-link {
    transition-duration: 0s;
    transition-property: background-color;
}

.navbar-link:hover {
    color: #ffcda9 !important;
}

.baseContainer {
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.25);
    width:75%;
    margin: 35px auto 0;
    padding: 60px 10px;
}

.baseContainer h1 {
    padding-bottom: 1.5rem !important;
    font-weight: bolder;
    text-transform: uppercase;
    color: #ffcda9;
}

.row {
    margin: 0px 20px;
}

.project-container:hover{
    transform: scale(1.02);
    outline: 2px solid #aa11da;
    outline-offset: 2px;
}

.project-container {
    height: 100%;
    border-radius: 10px;
    transition-duration: 0.2s;
    transition-property: transform;
    padding : 15px 5px 5px;
    justify-content: center;
    align-items: center;
}
.project-column-container {
    padding-bottom: 1.5rem !important;
}

.row > .col-md-6 > a {
    display: block;
    height: 100%;
}
.project-image {
    width: 90%;
    aspect-ratio: 16/9;
    box-shadow:0 0 5px 5px rgba(0,0,0,0.15);
    object-fit: contain;
    border-radius: 10px;
}

.project-description {
    padding: 20px;
}

.project-description-text {
    text-justify: inter-word;
    align-self: auto;
    white-space: normal;
}

.project-description-title {
    font-weight: bold;
    text-transform: uppercase;
    color: #ffcda9;
}

.stargaze-layout-container {
    position: relative;
    display: block;
}

.stargaze-layout-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://img.itch.zone/aW1nLzExMDU4MjM0LmpwZw==/original/a3Glby.jpg");
    background-size: cover;
    filter: blur(5px) brightness(50%);
    z-index: -1;
}

.evorale-layout-container {
    position: relative;
    display: block;
}

.evorale-layout-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/Evorale.png");
    background-size: cover;
    filter: blur(5px) brightness(50%);
    z-index: -1;
}

.mod-layout-container {
    position: relative;
    display: block;
}

.mod-layout-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://img.itch.zone/aW1nLzExMzE0NTA2LnBuZw==/315x250%23c/Y3ac63.png");
    background-size: cover;
    filter: blur(5px) brightness(50%);
    z-index: -1;
}

.tdid-layout-container {
    position: relative;
    display: block;
}

.tdid-layout-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/TDID.png");
    background-size: cover;
    filter: blur(5px) brightness(50%);
    z-index: -1;
}

.oxhunt-layout-container {
    position: relative;
    display: block;
}

.oxhunt-layout-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/OxHunt.jpg");
    background-size: cover;
    filter: blur(5px) brightness(50%);
    z-index: -1;
}

.scaffold-layout-container-grid {
    width: 100%;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: stretch;
}

.scaffold-layout-container-background {
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    filter: blur(5px) brightness(0.5);
}

.scaffold-layout-container-left {
    text-align: left;
    flex-grow: 2;
    flex-basis: 70%;
    /*padding: 5rem 5rem 0px ;*/
    margin: 5rem 5rem;
    min-width: 0;
}

.scaffold-layout-container-right {
    text-align: left;
    flex-grow: 1;
    flex-basis: 30%;
    /*padding: 5rem 5rem 0px ;*/
    margin: 5rem 5rem;
    min-width: 0;
}

.scaffold-layout-container-title {
    text-align: left;
    font-weight: bold;
    overflow-wrap: break-word;
    color: #ffcda9;
}

.scaffold-layout-container-text {
    text-align: left;
    overflow-wrap: break-word;
}

.scaffold-layout-container-list {
    text-align: left;
    list-style: none;
    padding: 0;
}

.scaffold-layout-container-list li {
    display: inline;
    margin-right: 1rem;
}

.section {
    text-align: left;
    padding: 0 5rem;
}

.section-title{
    font-weight: bold;
    color: #ffcda9;
}

.section-container{
    display: flex;
    width: 100%;
    gap: 2rem;
    justify-content: space-between;
    align-items: stretch;
}

.section-description-container {
    text-align: left;
    flex-basis: 50%;
}

.section-description-video-container {
    text-align: left;
    flex-basis: 50%;
}

hr.rounded {
    border-top: 3px solid #bbb;
    border-radius: 5px;
    margin: 2% 2%;
}


/*Color palette*/
.highlight {
    background-color: #520380
}

.midtone-high {
    background-color: #2f0149
}

.midtone-low {
    background-color: #220135
}

.lightText{
    color: #aa11da
}

/* Small Screens */
@media screen and (max-width: 500px) {

}

/* Medium Screens*/
@media screen and (max-width: 800px) {
    .scaffold-layout-container-grid, .section-container {
        flex-direction: column;
    }
}


